html, body {
    font-family: 'Open Sans','Roboto',sans-serif;
    color: black;
}

body {
    background-image: url("../img/pexels-pixabay-235985.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/*body {*/
/*    background-color: lightgoldenrodyellow;*/
/*}*/

.contact-info a {
    color: black;
    text-decoration: none;
}

.icon-container img {
    width: 70%;
    height: 70%;
}

.badge-container img {
    width: 30px;
    height: 30px;
    margin: 1em;
}

h1, h2, h3, h4, h5, h6 {
    color: black;
}